* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  flex-wrap: wrap;
  background-color: rgb(87 83 78);
  color: white;
  font-family: poppinsregular;
  margin: 0 auto;
  padding: 20px;
}

/* Topo da página */
header{
  display: flex;
  justify-content: space-around;
}

li{
  display: inline-block;
  margin: 20px;
  font-size: 20px;
}

/* Parte principal da página */
main {
  display: flex;
  justify-content: wrap;
  flex-direction: row;
}

aside {
  margin: auto;
}

p {
  margin: 15px;
}

img {
  width: 300px;
}

address {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 300px;
}

/* Rodapé */
footer {
  display: flex;
  justify-content:center;
}

/* Efeitos ao passar o mouse */
a{
  color: white;
}

a:hover{
  color: rgb(74, 41, 218);
  transition: 0.3s all;
}